table{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

td,table {
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width: 80px;
    height: 80px;
}
button{
    margin-left: 45%;
    margin-top: 2%;
}
h1{
    text-align: center;
    margin-top: 5%;
}
h2{
    text-align: center;
}